@model SisVest.WebUI.Models.AutenticacaoModel
@{
    ViewBag.Title = "Entrar";
}

@Html.Partial("MenuPartialView")

<h2>Entrar</h2>

@if (!ViewBag.Autenticado)
{
        using (@Html.BeginForm())
        {
            @Html.EditorForModel()
            <p>
                <input type="submit" value="Entrar" />
            </p>
        }
}else{
    <p>
        "Autenticado " 
    </p>
    @Html.ActionLink("Sair","Sair")
}

